page-tables {
  .content-md {
    background-image: url("https://www.wien.info/media/images/41993-das-loft-sofitel-19to1.jpeg");
    background-size: cover;
  }

  .freeStatus:hover {
    background: green;
  }
}
