tables-component {

  .tables-tables {
  background-image: url("http://i037.radikal.ru/0810/55/7af2e6f4564e.png");
    width:140px;
    height: 168px;
    background-size: cover;
    display: inline-block;
    margin-right: 50px;
    color:white;
    font-size: 16px;
  }
  .tables-tables:hover {
    background-color: #32db64;
  }
}
